.qwiki-extension-panel-h1{
  font-size: 32px;
}

.qwiki-extension-panel-h1 > a{
  color: #f1f1f1 !important;
  text-transform: capitalize;
  text-decoration: none;
}

.qwiki-extension-panel-h1 > a:hover{
  color: coral !important;
  text-decoration: none;
}

.qwiki-extension-close-span{
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 20px;
  text-align: center;
  background: #166888 !important;
  border-radius: 50%;
  margin: 0;
  padding: 0px;
  color: white !important;
  cursor: pointer;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qwiki-extension-close-span:hover{
  color: #166888 !important;
  background: white !important;
}

.qwiki-extension-handle{
  bottom: 0;
  left: 0;
  cursor: nesw-resize;
  position: absolute;
  width: 10px;
  height: 10px;
  background: red;
}

.qwiki-extension-inner-div{
  position: relative;
  overflow-y: auto;
  height: 90%;
  width: 99%;
  text-align: justify;
}

.qwiki-extension-outer-div{
  position: absolute;
  right: 0;
  width: 0;
  background: #2f4f4f;
  opacity: 0;
  overflow: hidden;
  box-shadow: -8px 5px 20px -4px rgba(122,119,140,0.71);
  z-index: 99999;
}

.hide{
  display: none;
}

.para-graph{
  margin-bottom: 5px;
  color: wheat !important;
  font-size: 14px !important;
  text-align: justify;
  text-decoration: none !important;
}

.heading2{
  margin-bottom: 5px;
  cursor: pointer;
  color: wheat !important;
  font-size: 22px !important;
  margin-bottom: 15px !important;
  text-decoration: none !important;
}

.heading3{
  margin-bottom: 5px;
  font-size: 17px !important;
  color: wheat !important;
  text-decoration: none !important;
}


/*
.divBackground{
  z-index: 1000;  
  position: absolute;
  top: 0;
  right: 0;
  height: 0px;
  width: 100px;
  background: red;
  box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
  transition: all 0.5s, opacity 0.2s, translate 0.3s;
  transform-origin: 50% 0%;
  display: flex;
  justify-content: center;
  opacity: 0.5;
}

.divBackground.open{
  opacity: 1;
  padding: 40px;
  background: red;
  padding: 20px;
}*/
