.extension-close-span{
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 20px;
  text-align: center;
  background: #166888;
  border-radius: 50%;
  margin: 0;
  padding: 0px;
  color: white;
  cursor: pointer;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.extension-close-span:hover{
  color: #166888;
  background: white;
}

.extension-inner-div{
  /*position: relative;*/
  /*overflow-y: auto;*/
  /*color: wheat;*/
  /*height: 90%;*/
  /*width: 100%;*/
  /*text-align: justify;*/
  /*font-size: 16px;*/
}

.extension-inner-div p, h1, h2 , h3, article{
  margin-bottom: 10px;
	/*color: wheat !important;*/
	/*text-decoration: none !important;*/
  /*border: none !important;*/
}

.hide{
	display: none;
}

.para-graph{
  color: wheat !important;
  font-size: 16px !important;
}

.heading2{
  cursor: pointer;
  color: wheat !important;
  font-size: 28px !important;
  margin-bottom: 15px !important;
}

.heading3{
  font-size: 20px !important;
  color: wheat !important;
}


/*
.divBackground{
  z-index: 1000;  
  position: absolute;
  top: 0;
  right: 0;
  height: 0px;
  width: 100px;
  background: red;
  box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
  transition: all 0.5s, opacity 0.2s, translate 0.3s;
  transform-origin: 50% 0%;
  display: flex;
  justify-content: center;
  opacity: 0.5;
}

.divBackground.open{
  opacity: 1;
  padding: 40px;
  background: red;
  padding: 20px;
}*/